<article class="col sm12 l3">
  <div class="card">
    <div class="card-image">
      <img src="static/img/alvarenga.jpg" />
      <span class="card-title">André Marcelo Alvarenga</span>
    </div>
    <div class="card-action">
      <a href="https://gitlab.com/amalvarenga" target="_blank">GitLab</a>
    </div>
  </div>
</article>
