<article class="col sm12 l3">
  <div class="card">
    <div class="card-image">
      <img src="static/img/joze-avatar.jpeg" />
      <span class="card-title">@jozemariajr - telegram</span>
    </div>
    <div class="card-action">
      <a href="https://gitlab.com/jozemaria" target="_blank">GitLab</a>
    </div>
  </div>
</article>
