<article class="col sm12 l3">
  <div class="card">
    <div class="card-image">
      <img src="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2625100/avatar.png?width=90" />
      <span class="card-title">Qobi Ben Nun</span>
    </div>
    <div class="card-action">
      <a href="https://gitlab.com/qobibennun/minicurso-git-gitlab" target="_blank">GitLab</a>
    </div>
  </div>
</article>
