<article class="col sm12 l3">
  <div class="card">
    <div class="card-image">
      <img src="https://www.ominihost.com/img/testimonial-img/04.jpg" />
      <span class="card-title">Valdir</span>
    </div>
    <div class="card-action">
      <a href="https://gitlab.com/valdir2009mimi" target="_blank">GitLab</a>
    </div>
  </div>
</article>
