<article class="col sm12 l3">
  <div class="card">
    <div class="card-image">
      <img src="static/img/victorhausen_avatar.jpeg" />
      <span class="card-title">Victor Hausen</span>
    </div>
    <div class="card-action">
      <a href="https://gitlab.com/victorhausen" target="_blank">GitLab</a>
    </div>
  </div>
</article>
